/* Referenced for login CSS https://www.javatpoint.com/html-login-form */
body {
    background-color: #f6f5f3;
    font-family: 'Arial', sans-serif;
}
.boarder {
	padding: 15px;
    background-color: #BEDBD7;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #00303F;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    font-size: 18px;
    color: #C36422;
}

input[type=text], input[type=password] {
    width: 70%;
    margin: 8px auto;
    padding: 8px 10px;
    border: 2px solid #F7882F;
}

.container {
    width: 400px;
    margin: auto;
    padding: 15px;
    background-color: #f6f5f3;
    text-align: center;
}

label {
    font-size: 15px;
    color: #F7882F;
}

.error {
    font-size: 10px;
    color: #00303F;
}